#content {
    position: relative;
    aspect-ratio: .7;
    // width: calc(15% - 42.5px);
    width: 100%;
    border: 2px solid hsl(0, 0%, 50%);
    border-radius: .3rem;
    // margin: 5px;
    box-shadow: 2px 2px 4px black;
    // transition: width .3s .3s;
    transform-origin: center center;
    transition-duration: .3s;
    scroll-snap-align: start;
    overflow: hidden;


    #default {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        justify-content: center;
        align-items: center;
    }
    #actual {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #actual.display {
        display: block;
    }
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
}