#content {
  --mov-num: 7;
  --mov-width: calc(100% / var(--mov-num) - 30px + 30px / var(--mov-num));
  --pos: 0;

  padding: 15px calc(var(--mov-width) / 2);

  #head {
    color: white;
    font-size: 2rem;
    text-shadow: 1px 1px 2px black;
  }

  #body {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    gap: 30px;
    overflow: visible;

    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
  }

  mov-ele {
    flex: 0 0 var(--mov-width);
    translate: calc(var(--pos) * 100% + var(--pos) * 30px) 0;
    align-self: center;
    transition: translate 0.3s ease, scale .2s, z-index .2s;
    z-index: 1;
  }
  mov-ele:hover {
    z-index: 10;
    scale: 180%;
    transition: translate 0.3s ease, scale .2s .5s, z-index 0s .5s;
  }

  #pre,
  #nxt {
    display: flex;
    position: absolute;
    opacity: 0;
    width: calc(var(--mov-width) / 2);
    height: 100%;
    background: hsla(0, 0%, 0%, 0.8);
    border-radius: 0.3rem;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 5;
  }

  #pre span,
  #nxt span {
    opacity: 0;
    transition-duration: 0.3s;
  }
  #pre.available,
  #nxt.available,
  #pre.available span,
  #nxt.available span {
    opacity: 1;
    cursor: pointer;
  }
  #pre.hide span,
  #nxt.hide span {
    opacity: 0;
  }

  #pre {
    left: calc(0px - var(--mov-width) / 2 - 30px);
  }

  #nxt {
    right: calc(0px - var(--mov-width) / 2 - 30px);
  }
}

::-webkit-scrollbar {
  display: none;
}
