@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: default;
    user-select: none;
    overscroll-behavior: none;

    img{
    -webkit-user-drag: none;
    }
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, hsla(0, 0%, 70%,.7), transparent);
    border-left: 1px solid hsla(0, 0%, 100%, .3);
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 90%);
    border-radius: 10rem;
    border-left: 1px solid hsla(0, 0%, 0%, 1);
  }